@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin-ext');
// @font-face {
// 	font-family: 'tannenberg_fettregular';
// 	src: url('../fonts/tannenbergfett-webfont.woff'), url('../fonts/tannenbergfett-webfont.woff2');
// }

* {
	margin: 0;
	padding: 0;
}
body {
  font-family: 'Roboto Slab', serif;
  line-height: 166%;
  background: url('../images/bg-hi.jpg') center top / cover repeat;
  overflow: hidden;
}
@media screen and (max-width: 1919px) {
	body {
		background: url('../images/bg-md.jpg') center top / cover repeat;
	}
}
@media screen and (max-width: 1024px) {
	body {
		background: url('../images/bg-lo.jpg') center top / cover repeat;
	}
}

#container {
	width: 100%;
	margin: auto;
}
#underConstruction {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2rem;
	display: inline-block;
	background: #fff;
	padding: 1.5rem;
	opacity: 0;
	animation: underConstruction_ani 10s infinite;
}
@keyframes underConstruction_ani {
	35%, 50% {
		opacity: 0.75;
	}
}