@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin-ext');

* {
	margin: 0;
	padding: 0;
}
body {
  font-family: 'Roboto Slab', serif;
  line-height: 166%;
  background: url('../images/bg-hi.jpg') center top / cover repeat;
  overflow-x: hidden;
  overflow-y: scroll;
}
@media screen and (max-width: 1919px) {
	body {
		background: url('../images/bg-md.jpg') center top / cover repeat;
	}
}
@media screen and (max-width: 1024px) {
	body {
		background: url('../images/bg-lo.jpg') center top / cover repeat;
	}
}
