a {
  text-decoration: none;
  color: inherit;
}
/* HEADER */
header {
  position: fixed;
  left: 0;
  right: 0;
  height: 66px;
  line-height: 66px;
  color: #fff;
  background-color: #202b59;
  z-index: 1;
}

/* MENU */
.menu {
  float: left;
  padding-left: 2rem;
  a {
    padding: 0.5rem 1.5rem;
  }
  a:hover {
    color: #c5cae9;
  }
  a.active {
    background: #fff;
    color: #202b59;
    position: relative;
    &:hover {
      color: navy;
    }
    &:before {
      content: '';
      position: absolute;
      width: 0px;
      height: 10px;
      left: 50%;
      transform: translateX(-50%);
      top: 100%;
      border-bottom: 10px solid transparent;
      border-top: 10px solid #fff;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
    }
  }
  a:last-child:hover:after {
    filter: brightness(0.9);
  }
  a:last-child:after {
    content: '';
    width: 30px;
    height: 32px;
    position: absolute;
    top: 16px;
    background-image: url('../images/Logo-2CRev-75px-R.png');
    background-size: 75px auto;
    background-repeat: no-repeat;
    background-position: -53px 7px;
  }
  a:last-child.active:before {
    display: none;
  }
}

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
  header {
    position: static;
  }

  .header__icon {
    position: relative;
    display: block;
    float: left;
    width: 50px;
    height: 66px;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 1rem;
      height: 0;
      top: 16px;
      left: 15px;
      box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
    }
  }

  .menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #333;
    width: 256px;
    transform: translateX(-256px);
    a {
      display: block;
      height: 40px;
      text-align: center;
      line-height: 40px;
      border-bottom: 1px solid #444;
    }
  }

  .with--sidebar {
    .site-pusher {
      transform: translateX(256px);
    }
    .site-cache {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.6);
    }
  }
}