#container {
	width: 100%;
	margin: 0;
	overflow: hidden;
	width: 1024px;
	min-height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
}

main {
	position: absolute;
	margin-top: 66px;
	width: 500%;
	min-height: inherit;

	section {
		position: absolute;
		width: 20%;
		min-height: 100%;

		& .wrapper {
			position: absolute;
			left: 0;
			top: 0;
			width: calc(100%);
			min-height: 500px;
			background: rgba(50, 50, 50, 0.55);
		}
	}
}

main #section-skills {

}

main #fri-subjects {
	left: 20%;
	img {
		position: absolute;
		width: 600px;
		left: 5%;
		top: 60px;
	}
}

main #showroom {
	left: 40%;
	background: yellow;
}

main #animated-cv {
	left: 60%;
	background: yellowgreen;
}

main #linkedin {
	left: 80%;
	background: forestgreen;
}