#container {
	width: 100%;
	margin: 0;
	overflow: hidden;
}

main {
	margin-top: 66px;
	width: 500%;
	border: 2px dashed black;
	min-height: 478px;

	section {
		position: absolute;
		width: 100%;
		height: 100%;
		overflow: scroll;
	}
}

main #section-skills {

}

main #fri-subjects {
	left: 100%;
	img {
		position: absolute;
		width: 600px;
		left: 5%;
		top: 60px;
	}
}

main #showroom {
	left: 200%;
	background: yellow;
}

main #animated-cv {
	left: 300%;
	background: yellowgreen;
}

main #linkedin {
	left: 400%;
	background: forestgreen;
}