main section#showroom {

	a {
		float: left;
		width: 240px;
		height: 240px;
		border: 1px solid #202b59;
		background: dodgerblue;
		padding: 0;
		margin:10px;
		background-color: rgba(238,238,238,0.8);
		background-image: url('http://placekitten.com/240/160');
		background-size: 60% 60%;
		background-position: 50% 90%;
		background-repeat: no-repeat;
	}
}