#section-3-uni-subjects h2 {
  text-align: center;
  margin-bottom: 20px;
}

#section-3-uni-subjects div {
  padding: 1rem 2rem;
}

#section-3-uni-subjects .subjects-container {
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
}

#section-3-uni-subjects .subjects-title {
  text-align: left;
  color: var(--accent-color);
  margin-bottom: 30px;
}

#section-3-uni-subjects .subject-list {
  list-style-type: none;
  padding: 0;
}

#section-3-uni-subjects .subject-list li {
  background-color: var(--card-bg);
  color: var(--card-text);
  border-left: 5px solid var(--primary-dark);
  box-shadow: var(--shadow);
  padding: 1rem 1.5rem;
  border-radius: 8px;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  transition: background 0.3s ease;
}

@media (max-width: 600px) {
  #section-3-uni-subjects .subjects-container {
    width: calc(100% - 75px);
    margin: 0 0 20px 0;
  }

  #section-3-uni-subjects .subjects-title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  #section-3-uni-subjects .subject-list li {
    padding: 10px 14px;
    font-size: 14px;
  }
}
