#section-1-hi {
  color: #fff;
}
#section-1-hi h1,
#section-1-hi h2,
#section-1-hi p {
  opacity: 0;
}

@media screen and (max-width: 600px) {
  #section-1-hi .wrapper {
    width: 87.5%;
    padding: 0 3.75%;
    margin: 0;
  }
}
