@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin-ext");

/* * {
  margin: 0;
  padding: 0;
} */

body {
  font-family: "Roboto Slab", serif;
  line-height: 1.66;
  background: url("../images/bg-hi.jpg") center top / cover repeat;
  overflow-x: hidden;
  overflow-y: scroll;
}

.font-abril {
  font-family: "Abril Fatface", cursive;
}

/* .font-lobster {
  font-family: "Lobster", cursive;
} */

.font-xxl {
  font-size: 3.5rem;
  margin-bottom: 1.25rem;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
}

#container {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 1024px;
  min-height: 1200px;
  height: 1815px;
  overflow: hidden;
}

#container.scrollable {
  overflow: scroll;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 66px;
  line-height: 66px;
  background-color: #202b59;
  color: #fff;
  z-index: 1;
}

.menu {
  float: left;
  padding-left: 2rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.menu a {
  padding: 0.5rem 1.5rem;
}

.menu a:hover {
  color: #c5cae9;
}

.menu a.active {
  background: #fff;
  color: #202b59;
  position: relative;
}

.menu a.active:hover {
  color: navy;
}

.menu a.active::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 10px;
  border-top: 10px solid #fff;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.menu a:last-child::after {
  content: "";
  position: absolute;
  top: 16px;
  width: 30px;
  height: 32px;
  background: url("../images/Logo-2CRev-75px-R.png") no-repeat -53px 7px;
  background-size: 75px auto;
}

.menu a:last-child:hover::after {
  filter: brightness(0.9);
}

.menu a:last-child.active::before {
  display: none;
}

.logo {
  float: left;
  width: 24px;
  height: 24px;
  margin-right: 4px;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-css3,
.logo-es6,
.logo-html5,
.logo-snapsvg,
.logo-svg,
.logo-vue,
.logo-aiven,
.logo-asp-net,
.logo-angular,
.logo-fastapi,
.logo-jinja2,
.logo-docker {
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-css3 {
  background-image: url("../images/logo-css3.svg");
}
.logo-es6 {
  background-image: url("../images/logo-es6.svg");
}
.logo-html5 {
  background-image: url("../images/logo-html5.svg");
}
.logo-snapsvg {
  background-image: url("../images/logo-snapsvg.svg");
}
.logo-svg {
  background-image: url("../images/logo-svg.svg");
}
.logo-vue {
  background-image: url("../images/logo-vue.svg");
}
.logo-aiven {
  background-image: url("../images/logo-aiven.svg");
  height: 19px;
}
.logo-asp-net {
  background-image: url("../images/logo-asp-net.svg");
}
.logo-angular {
  background-image: url("../images/logo-angular.svg");
}
.logo-fastapi {
  background-image: url("../images/tinified/fastapi.png");
}
.logo-jinja2 {
  background-image: url("../images/tinified/jinja2.png");
}
.logo-docker {
  background-image: url("../images/tinified/docker-mark-blue.png");
}

@media screen and (max-width: 1919px) {
  body {
    background: url("../images/bg-md.jpg") center top / cover repeat;
  }
}

@media screen and (max-width: 1024px) {
  body {
    background: url("../images/bg-lo.jpg") center top / cover repeat;
  }

  #container {
    position: static;
    left: unset;
    right: unset;
    width: 100%;
    min-height: 500px;
    margin: 0 auto;
    overflow: hidden;
  }

  main {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  header {
    position: static;
    height: auto;
    line-height: 1.1;
  }

  .menu {
    float: none;
    padding: 0;
    position: static;
    display: block;
    background-color: #333;
    transform: none;
  }

  .menu a {
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #444;
    padding: 0;
  }

  .menu a.active {
    border: 1px solid #444;
    box-sizing: content-box;
  }

  .menu a.active::before {
    display: none;
  }

  .menu a:last-child {
    position: relative;
  }

  .menu a:last-child::after {
    top: 4px;
  }
}

main {
  position: absolute;
  margin-top: 66px;
  width: 600%;
  min-height: inherit;
}

main section {
  position: absolute;
  width: 16.67%;
  min-height: 100%;
}

main #section-hi {
  left: 0%;
}
main #section-skills {
  left: 16.67%;
}
main #section-fri-subjects {
  left: 33.33%;
}
main #section-showroom {
  left: 50%;
}
main #section-animated-cv {
  left: 66.67%;
}
main #linkedin {
  left: 83.33%;
}

.wrapper {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  min-height: 500px;
  background: rgba(32, 32, 32, 0.55);
  width: 100%;
  margin: 0 auto;
  padding: 20px 20px;
}
